#### (1)-
##### Database is an organized collection of data which can be easily accessed and managed.
##### Differences between SQL and NoSQL databases-
##### SQL(Structured Query Language) is used for structured data, NoSQL(Not only Structured Query Language) is used for unstructed data like text files, audios, images etc.
##### SQL databases have fixed or static or predefined schema, NoSQL databases have dynamic schema.
##### In SQL databases all the data must be stored in the smae structure, but in NoSQL databases the data can be stored in graphs, charts, documents etc.
##### SQL databases are table based but NoSQL databases are key-value pairs, document based, graphs or wide column stores.
##### SQL databses are vertically scalable, NoSQL databases arehorizontally scalable
##### SQL databases follow ACID poperties( Atomicity, Consistency, Isolation and Durability) whereas NoSQL databases follow CAP (Consistency, Availability and Partition tolerance)

#### (2)-
##### DDL(Data Definition Language) consists of SQL commands that can be used to define, create, modify and delete the database schema.
##### CREATE- This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
##### DROP- This command is used to delete objects from the database.
##### ALTER- This is used to alter the structure of the database.
##### TRUNCATE- This is used to remove all records from a table, including all spaces allocated for the records are removed.
##### Example-

In [ ]:
CREATE TABLE person( first name VARCHAR(200), last name VARCHAR(200), address VARCHAR(500), phone_no INT );

ALTER TABLE person
ADD email_id VARCHAR(200);     # alter here adds a new column email_id to the table

ALTER TABLE person
DROP COLUMN email_id;      # it drops the column email_id in the table

TRUNCATE TABLE person;     # it deletes the data inside the table but not the table itself

#### (3)-
##### DML(Data Manipulation Language) commands in SQL deals with the manipulation of data stored in the databases. It doesn't deal with the changes to database objects and its structure.
##### INSERT- Used to insert new data records or rows in the database table.
##### UPDATE- Used to set the value of a field or column for a particular record to a new value
##### DELETE- Used to remove one or more rows from the database table.
##### Example-

In [ ]:
INSERT INTO customers ( customer_id, items, date, order_id )
VALUES (1005, 'wheat', '20-02-2023', 20056);

UPDATE customers 
SET date = '18-02-2023'
WHERE date= '20-02-2023';

DELETE FROM customers
WHERE customer_id= 1005
AND order_id= 20056;

#### (4)-
##### DQL(Data Query Language) command in SQL is used to perform queries on the data within schema objects.
##### SELECT- it is used to retreive data from the database.

In [ ]:
SELECT * from customers;    # this selects all the columns in the customer table

#### (5)-
##### Primary key- Primary key is used to ensure that the data inside a specific column is unique. A column cannot have NULL values. 
##### Foreign key- Foreign key is a column or a group of columns in a relational database table that provides a link between data in 2 tables. It is usually a column that references a column, mostly primary key, of another table.

#### (6)- 
##### connecting mysql to python-

In [ ]:
import mysql.connector()
mydb= mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
mycursor= mydb.cursor() 
mycursor.execute("CREATE DATABASE if not exists test")
mydb.close()

##### cursor() method is used to create the cursor object. It is used to exceute statements, fetch data, call procedures etc. to communicate with the mysql database
##### execute() method executes the given database operation (query or command).

#### (7)-
##### Order of execution of SQL clauses in SQL query-
#####